* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.menu {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

p {
  padding: 10px;
  border-radius: 15px;
  text-transform: capitalize;
  cursor: pointer;
  outline: none;
  border: none;
  color: white;
}
